* {
  background-color: #607f7c;
  box-sizing: border-box;
}

body {
  color: #f3e5ab;
  font-family: "League Script", "La Belle Aurore", serif;
}

section {
  margin: 3%;
}

section:not(.home) {
  border-top: 5px double #f3e5ab;
}

h2 {
  margin: 5px 0;
  font-size: 2rem;
}

p {
  font-family: "Bad Script", serif;
}

/* NAVIGATION STYLES START */
header {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  flex-wrap: wrap;
}

nav ul li {
  margin: 25px 10px;
  display: inline;
  padding: 3px;
}

nav ul li:hover {
  border: 5px double #f3e5ab;
}

nav ul li a {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
}
/* NAVIGATION STYLES END */


/* HERO STYLES START */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.home img {
  border-radius: 250em;
  box-shadow: 0 0 50px #f3e5ab;
  margin: 0 50px;
}

.home div {
  display: block;
  letter-spacing: 2px;
  line-height: 1.2;
  font-family: "Bad Script", serif;
}

.home h1 {
  margin-bottom: 1px;
}

.home p {
  margin-top: 1px;
  font-size: 1.5rem;
}
/* HERO STYLES END */


/* ABOUT STYLES START */

/* ABOUT STYLES END */


/* WORK STYLES START */
.work-note {
  font-size: smaller;
}

.work img {
  max-width: 50%;
  height: auto;
  border-radius: 25px;
}

.first-project img {
  max-width: 80%;
  height: auto;
}

.project-container {
  position: relative;
  text-align: left;
}

.project-container p {
  position: absolute;
  margin-bottom: 8px;
  bottom: 5px;
  left: 16px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.project-container a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}
/* WORK STYLES END */


/* CONTACT STYLES START */

/* CONTACT STYLES END */


/* FOOTER STYLES START */
footer {
  font-family: "Bad Script", serif;
  letter-spacing: 2px;
  text-align: center;
  margin: 3%;
}
/* FOOTER STYLES END */


/* MEDIA QUERIES FOR SMALLER DESKTOP SCREENS AND SMALLER */


/* MEDIA QUERIES FOR TABLETS AND SMALLER */
/* make images full width of viewport */

/* MEDIA QUERIES FOR MOBILE PHONES AND SMALLER */
/* make images full-width of viewport */
