:root {
  --dark-accent: black;
  --main-color: #f3e5ab;
  --bkgrnd-color: #475f5d
}

* {
  background-color: var(--bkgrnd-color);
}

body {
  color: var(--main-color);
  font-family: "League Script", "La Belle Aurore", serif;
}

section {
  margin: 3%;
}

section:not(.home) {
  box-shadow: 0 0 8px;
  padding: 5px;
  border-radius: 15px;
}

h2 {
  margin: 5px 0;
  font-size: 2.5rem;
  text-shadow: 2px 2px var(--dark-accent);
}

p {
  font-size: 1.5rem;
  font-family: "Bad Script", serif;
}

a {
  color: var(--main-color);
}

a:hover {
  color: var(--dark-accent);
  text-shadow: none;
}

/* NAVIGATION STYLES START */
header {
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 25px auto;
  display: inline;
  padding: 10px;
}

nav ul li a {
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 2px 2px var(--dark-accent);
}
/* NAVIGATION STYLES END */


/* HERO STYLES START */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home img {
  border-radius: 250em;
  box-shadow: 0 0 50px var(--main-color);
  margin: 0 50px;
}

.home div {
  display: block;
  letter-spacing: 2px;
  line-height: 1.2;
  font-family: "Carattere", "Bad Script", serif;
}

.home h1 {
  margin-bottom: 1px;
  text-shadow: 2px 2px var(--dark-accent);
  font-size: 2.5rem;
}

.home p {
  margin-top: 1px;
  font-size: 1.5rem;
}
/* HERO STYLES END */


/* ABOUT STYLES START */
/* placeholder */
/* ABOUT STYLES END */


/* WORK STYLES START */
.work-note {
  font-size: smaller;
}

.work img {
  max-width: 50%;
  height: auto;
  border-radius: 25px;
}

.work img:hover {
  box-shadow: 0 0 15px var(--dark-accent);
}

.first-project img {
  max-width: 80%;
}

/* parents of absolutely positioned elements need position: relative|absolute */
.project-container {
  position: relative;
  text-align: left;
}

.project-container p {
  position: absolute;
  margin-bottom: 8px;
  bottom: 5px;
  left: 16px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.project-container a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.project-container a:hover {
  color: var(--dark-accent);
}
/* WORK STYLES END */


/* CONTACT STYLES START */
/* placeholder */
/* CONTACT STYLES END */


/* FOOTER STYLES START */
footer {
  font-family: "Bad Script", serif;
  letter-spacing: 2px;
  text-align: center;
  margin: 3%;
  color: black;
}
/* FOOTER STYLES END */


/* MEDIA QUERIES FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .work img {
    max-width: 80%;
  }

  .first-project img {
    max-width: 100%;
  }
}

/* MEDIA QUERIES FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
   
  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
  
  .home {
    display: block;
    text-align: center;
  }
    
  .home img {
    max-width: 50%;
  }

  .home h1 {
    font-size: 2.3rem;
  }

  .home p {
    font-size: 1rem;
  }
}

/* MEDIA QUERIES FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
    max-width: 75%;
    margin: 0 auto;
  }

  nav {
    margin: 0 0 20px 0;
    border-radius: 10px;
    border: 5px double var(--dark-accent);
  }

  nav ul {
    padding: 5px;
    text-align: center;
  }
  
  .project-container {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .project-container p {
    color: var(--main-color);
    background-color: var(--bkgrnd-color);
    position: static;
    text-shadow: 2px 2px var(--dark-accent);
  }

  .project-container a {
    color: var(--main-color);
  }
}
