* {
  background-color: #607f7c;
}

body {
  color: #f3e5ab;
  font-family: "League Script", "La Belle Aurore", serif;
}

section, footer {
  margin: 3%;
}

section p {
  font-family: "Bad Script", serif;
}

/* NAVIGATION STYLES START */
header {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  flex-wrap: wrap;
}

nav ul li {
  margin: 25px 10px;
  display: inline;
}

nav ul li a {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
}
/* NAVIGATION STYLES END */


/* HERO STYLES START */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.home img {
  border-radius: 250em;
  box-shadow: 0 0 50px #f3e5ab;
  margin: 0 50px;
}

.home div {
  display: block;
  letter-spacing: 2px;
  line-height: 1.2;
  font-family: "Bad Script", serif;
}

.home h1 {
  margin-bottom: 1px;
}

.home p {
  margin-top: 1px;
  font-size: 1.5rem;
}
/* HERO STYLES END */


/* ABOUT STYLES START */

/* ABOUT STYLES END */


/* WORK STYLES START */

/* WORK STYLES END */


/* CONTACT STYLES START */

/* CONTACT STYLES END */


/* FOOTER STYLES START */

/* FOOTER STYLES END */


/* MEDIA QUERIES FOR SMALLER DESKTOP SCREENS AND SMALLER */


/* MEDIA QUERIES FOR TABLETS AND SMALLER */


/* MEDIA QUERIES FOR MOBILE PHONES AND SMALLER */

